body {
  text-align: center;
}

table {
  margin: 100px auto;
  width: 100%;
}
th,
td {
  border: 1px solid black;
  padding: 5px;
}

button {
  cursor: pointer;
}
.read {
  background-color: rgb(12, 186, 239);
  border: 0ch;
  border-radius: 5px;
  padding: 5px;
}

.update {
  background-color: rgba(216, 191, 49, 0.838);
  border: 0ch;
  border-radius: 5px;
  padding: 5px;
}

.delete {
  background-color: orange;
  border: 0ch;
  border-radius: 5px;
  padding: 5px;
}
