body {
  text-align: center;
}

table {
  margin: 100px auto;
  width: 100%;
}
th,
td {
  border: 1px solid black;
  padding: 5px;
}

button {
  cursor: pointer;
}
.read {
  background-color: rgb(12, 186, 239);
  border: 0ch;
  border-radius: 5px;
  padding: 5px;
}

.update {
  background-color: rgba(216, 191, 49, 0.838);
  border: 0ch;
  border-radius: 5px;
  padding: 5px;
}

.delete {
  background-color: orange;
  border: 0ch;
  border-radius: 5px;
  padding: 5px;
}

.book-details {
  position: absolute;
  height: 25vh;
  width: 40vw;
  background-color: rgb(12, 186, 239);
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.8s ease-out;
}

.close-modal {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

img {
  width: 30%;
  height: 30%;
}
